{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">	
								<div class="nav-inner">	
									<ul class="nav main-menu menu navbar-nav">
										<li class="active"><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'foods' %}">Каталог</a></li>
										<li><a href="{% url 'service' %}">О нашем сервисе</a></li>
										<li><a href="#">Заказ<i class="ti-angle-down"></i><span class="new">Новинка</span></a>
											<ul class="dropdown">
												<li><a href="{% url 'cart' %}">Корзина</a></li>
												<li><a href="{% url 'checkout' %}">Оплата</a></li>
											</ul>
										</li>
										<li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
	
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{% url 'home' %}">Главная<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{% url 'cart' %}">Корзина</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
			
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">

						<div class="row">
							<div class="col-lg-12">
								<div class="box-element">

									<a  class="btn btn-outline-dark text-white" href="{% url 'home' %}">&#x2190; Продолжить покупки</a>

									<br>
									<br>
									<table class="table">
										<tr>
											<th><h5>Количество наименований: <strong>{{order.get_cart_items}}</strong></h5></th>
											<th><h5>Сумма:<strong> ₴{{order.get_cart_total|floatformat:2}}</strong></h5></th>
											<th>
												<a  style="float:right; margin:5px;" class="btn btn-warning text-white" href="{% url 'checkout' %}">Оплата</a>
											</th>
										</tr>
									</table>

								</div>

								<br>
								<div class="box-element">
									<div class="cart-row">
										<div style="flex:2"></div>
										<div style="flex:2"><strong>Товар</strong></div>
										<div style="flex:1"><strong>Цена</strong></div>
										<div style="flex:1"><strong>Количество</strong></div>
										<div style="flex:1"><strong>Сумма</strong></div>
									</div>
									{% for item in items %}
									<div class="cart-row">
										<div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
										<div style="flex:2"><p>{{ item.product.name }}</p></div>
										<div style="flex:1"><p>₴{{ item.product.price|floatformat:2 }}</p></div>
										<div style="flex:1">
											<p class="quantity">{{ item.quantity }}</p>
											<div class="quantity">
												<img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

												<img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
											</div>
										</div>
										<div style="flex:1"><p>₴{{ item.get_total|floatformat:2 }}</p></div>
									</div>
									{% endfor item %}
									
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
					
		
	<!--/ End Shopping Cart -->
			
	<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Бесплатная доставка</h4>
                    <p>При заказе от ₴300</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Гарантии Качества</h4>
                    <p>Возврат за некачественный товар</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Безопасная сделка</h4>
                    <p>Полностью безопасные платежи</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Лучшие цены</h4>
                    <p>Намного дешевле конкурентов</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Подпишитесь на нас!</h4>
                        <p> И узнавайте о самых выгодных предложениях первым!</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Ваш Email" required="" type="email">
                            <button class="btn">Подписаться</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
	
{% endblock content %}