{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-lg-3">
					<div class="all-category">
						<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>КАТЕГОРИИ</h3>
						<ul class="main-category">
							<li><a href="#">Новинки <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="sub-category">
									<li><a href="#">Куриные крылышки</a></li>
									<li><a href="#">Курочка</a></li>
									<li><a href="#">Пицца</a></li>
									<li><a href="#">Рыбка</a></li>
									<li><a href="#">Бургеры</a></li>
									<li><a href="#">Наборы</a></li>
								</ul>
							</li>
							<li class="main-mega"><a href="#">Бестселлеры <i class="fa fa-angle-right" aria-hidden="true"></i></a>
								<ul class="mega-menu">
									<li class="single-menu">
										<a href="#" class="title-link">Острые Бургеры</a>
										<div class="inner-link">
											<a href="#">Бургеры</a>
											<a href="#">Ещё один бургер</a>
											<a href="#">Куриные Бургеры</a>
											<a href="#">Вегетерианские Бургеры</a>
										</div>
									</li>
									<li class="single-menu">
										<a href="#" class="title-link">Пиццы</a>
										<div class="inner-link">
											<a href="#">Паперони</a>
											<a href="#">С ананасами</a>
											<a href="#">Мехиканская</a>
											<a href="#">Охотничья</a>
										</div>
									</li>
									<li class="single-menu">
										<a href="#" class="title-link">Крылышки</a>
										<div class="inner-link">
											<a href="#">Классика</a>
											<a href="#">С двойным соусом</a>
											<a href="#">Двойная панировка</a>
											<a href="#">Острая панировка</a>
										</div>
									</li>
								</ul>
							</li>
							<li><a href="#">Наборы</a></li>
							<li><a href="#">Обеды</a></li>
							<li><a href="#">Рыба</a></li>
							<li><a href="#">Крылышки</a></li>
							<li><a href="#">Пицца</a></li>
							<li><a href="#">Бургеры</a></li>
							<li><a href="#">Салаты</a></li>
							<li><a href="#">Гарниры</a></li>
						
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">	
								<div class="nav-inner">	
									<ul class="nav main-menu menu navbar-nav">
											<li class="active"><a href="#">Главная</a></li>
											<li><a href="{% url 'foods' %}">Каталог</a></li>
											<li><a href="{% url 'service' %}">О нашем сервисе</a></li>
											<li><a href="#">Заказ<i class="ti-angle-down"></i><span class="new">Новинка</span></a>
												<ul class="dropdown">
													<li><a href="{% url 'cart' %}">Корзина</a></li>
													<li><a href="{% url 'checkout' %}">Оплата</a></li>
												</ul>
											</li>									
						
											<li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
										</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
	
	<!-- Slider Area -->
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<img src="{% static 'images/banner-hero-sec.png' %}" alt="hero-banner">		
			<div class="container">	
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
	

	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				{% for small in small_banners %}
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ small.s_imageURL }}" alt="#">
						<div class="content">
							<p>{{ small.s_tag }}</p>
							<h3>{{ small.s_headline }}<br><span>{{ small.s_span }}</span></h3>
							<a href="#">{{ small.s_btn_text }}</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				{% endfor small in small_banners %}
			</div>
		</div>
	</section>
	<!-- End Small Banner -->

	
	<!-- Start Product Area -->
    <div class="product-area section">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Популярное</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">

							</div>
							<div class="tab-content" id="myTabContent">
								<!-- Start Single Tab -->
								<div class="tab-pane fade show active" id="man" role="tabpanel">
									<div class="tab-single">
										<div class="row">
									

											{% for product in products %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="#">
															<img class="default-img" src="{{ product.imageURL }}" alt="#">
															<img class="hover-img" src="{{ product.image_hoverURL }}" alt="#">
															<span class="{{ product.tag_class}}">{{ product.tag }}</span>
														</a>
														<div class="button-head">
															<div class="product-action-2">
																<a data-product="{{ product.id }}" data-action="add" title="Add to cart" class="add-btn update-cart" href="#">&nbsp;&nbsp;&nbsp;<i class="ti-bag"></i>&nbsp;&nbsp;В корзину</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="#">{{ product.name }}</a></h3>
														<div class="product-price">
															<span>₴{{ product.price|floatformat:2 }}</span>
														</div>
													</div>
												</div>
											</div>
											{% endfor product in products %}
					
						
											
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->

							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	

	<!-- Start Midium Banner  -->
	<section class="midium-banner">
		<div class="container">
			<div class="row">

				{% for m_banner in medium_banners %}
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ m_banner.m_imageURL }}" alt="#">
						<div class="content">
							<p>{{ m_banner.m_tag }}</p>
							<h3>{{ m_banner.m_headline }}</h3>
							<a href="#">{{ m_banner.m_btn_text }}</a>
						</div>
					</div>
				</div>
				{% endfor m_banner in medium_banners %}
			</div>
		</div>
	</section>
	<!-- End Midium Banner -->
	
	<!-- Start Most Popular -->
	<div class="product-area most-popular section">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Горячие предложения</h2>
					</div>
				</div>
            </div>
            <div class="row">
				
                <div class="col-12">
                    <div class="owl-carousel popular-slider">


						{% for product in products %}
						<!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{{ product.imageURL }}" alt="#">
									<img class="hover-img" src="{{ product.image_hoverURL }}" alt="#">
									<span class="{{ product.tag_class }}">{{product.tag}}</span>
								</a>
								<div class="button-head">
									<div class="product-action-2">
										<a class="add-btn update-cart" data-product="{{ product.id }}" data-action="add" title="Add to cart" href="#">&nbsp;&nbsp;&nbsp;<i class="ti-bag"></i>&nbsp;&nbsp;В корзину</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3><a href="{% static '#' %}">{{ product.name }}</a></h3>
								<div class="product-price">
									<span>₴{{ product.price|floatformat:2 }}</span>
								</div>
							</div>
						</div>
						<!-- End Single Product -->
						{% endfor product in products %}

						
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- End Most Popular Area -->
	
	<section class="section free-version-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2 col-xs-12">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Жизнь, которая полна вкуса</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">HomeFood</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Повседневная практика показывает, что постоянное информационно - пропагандистское <br> обеспечение нашей деятельности играет важную роль в формировании распределения внутренних резервов и ресурсов. Предприниматели в сети интернет призывают нас к новым свершениям, которые, в свою очередь, должны быть указаны как претенденты на роль ключевых факторов.</p>

                        <div class="button">
                            <a href="#" target="_blank" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	
	
	<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Бесплатная доставка</h4>
                    <p>При заказе от ₴300</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Гарантии Качества</h4>
                    <p>Возврат за некачественный товар</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Безопасная сделка</h4>
                    <p>Полностью безопасные платежи</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Лучшие цены</h4>
                    <p>Намного дешевле конкурентов</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Подпишитесь на нас!</h4>
                        <p> И узнавайте о самых выгодных предложениях первым!</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Ваш Email" required="" type="email">
                            <button class="btn">Подписаться</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
	
	<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row no-gutters">
							<div class="col-lg-6 offset-lg-3 col-12">
								<h4 style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">Eshop Free Lite</h4>
								<h3 style="font-size:30px;color:#333;">Currently You are using free lite Version of Eshop.<h3>
								<p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase full version of the template to get all pages, features and commercial license</p>
								<div class="button" style="margin-top:30px;">
									<a href="#" target="_blank" class="btn" style="color:#fff;">Buy Now!</a>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Modal end -->
	
	{% endblock content %}
	