    {% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Home Food - Лучшее, с пылу, с жару</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/home-food-logo.png' %}">

</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST" action="">
                    {% csrf_token %}
					<label for="chk" aria-hidden="true">Регистрация</label>
					<input type="text" name="txt" placeholder="Имя пользователя" required="">
					<input type="email" name="email" placeholder="Почта" required="">
					<input type="password" name="pswd" placeholder="Пароль" required="">
					<button>Зарегистрироваться</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Авторизация</label>
					<input type="email" name="email" placeholder="Почта" required="">
					<input type="password" name="pswd" placeholder="Пароль" required="">
					<button>Войти</button>
				</form>
			</div>
	</div>
</body>
</html>
