{% extends 'base.html' %}
{% load static %}

{% block content %}	


<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">	
								<div class="nav-inner">	
									<ul class="nav main-menu menu navbar-nav">
										<li class="active"><a href="{% url 'home' %}">Главная</a></li>
										<li><a href="{% url 'foods' %}">Каталог</a></li>
										<li><a href="{% url 'service' %}">О нашем сервисе</a></li>
										<li><a href="#">Заказ<i class="ti-angle-down"></i><span class="new">Новинка</span></a>
											<ul class="dropdown">
												<li><a href="{% url 'cart' %}">Корзина</a></li>
												<li><a href="{% url 'checkout' %}">Оплата</a></li>
											</ul>
										</li>
										<li><a href="{% url 'contact' %}">Свяжитесь с нами</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{% url 'home' %}">Главная<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{% url 'service' %}">О нашем сервисе</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->



    <!-- Start Service -->

   <!-- Start Most Popular -->
	<div class="product-area most-popular section">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Наш сервис</h2>
					</div>
				</div>
            </div>
            <div class="row">
				
                <div class="col-12">
                    <div class="owl-carousel popular-slider">


						<!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{% static 'images/service-5.gif' %}" alt="#">
								</a>
								
							</div>
							<div class="product-content">
								<h3 align="center"><a href="{% static '#' %}">Удобно заказать</a></h3>
							</div>
						</div>
						<!-- End Single Product -->

                        <!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{% static 'images/service-2.gif' %}" alt="#">
								</a>
								
							</div>
							<div class="product-content">
								<h3 align="center"><a href="{% static '#' %}">Бесплатно доставим прямо в дом</a></h3>
							</div>
						</div>
						<!-- End Single Product -->

                        <!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{% static 'images/service-3.gif' %}" alt="#">
								</a>
								
							</div>
							<div class="product-content">
								<h3 align="center"><a href="{% static '#' %}">Ежедневная доставка</a></h3>
							</div>
						</div>
						<!-- End Single Product -->


                        <!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{% static 'images/service-4.gif' %}" alt="#">
								</a>
								
							</div>
							<div class="product-content">
								<h3 align="center"><a href="{% static '#' %}">Дружелюбно</a></h3>
							</div>
						</div>
						<!-- End Single Product -->


                        <!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a href="{% static '#' %}">
									<img class="default-img" src="{% static 'images/service-6.gif' %}" alt="#">
								</a>
								
							</div>
							<div class="product-content">
								<h3 align="center"><a href="{% static '#' %}">Удобно</a></h3>
							</div>
						</div>
						<!-- End Single Product -->

						
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- End Most Popular Area -->

    <!-- End Service -->

<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Бесплатная доставка</h4>
                    <p>При заказе от ₴300</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Гарантии Качества</h4>
                    <p>Возврат за некачественный товар</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Безопасная сделка</h4>
                    <p>Полностью безопасные платежи</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Лучшие цены</h4>
                    <p>Намного дешевле конкурентов</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
    <div class="container">
        <div class="inner-top">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <!-- Start Newsletter Inner -->
                    <div class="inner">
                        <h4>Подпишитесь на нас!</h4>
                        <p> И узнавайте о самых выгодных предложениях первым!</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Ваш Email" required="" type="email">
                            <button class="btn">Подписаться</button>
                        </form>
                    </div>
                    <!-- End Newsletter Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Newsletter -->

{% endblock content %}